*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}
form{
    width: 50%;
    border: 1px solid red;
    display: flex;
    flex-direction: colum;
    gap: 1rem;
    padding: 1rem;
}
form input{
    width: 50%;
    height: 30px;
    width: 100%;
    color: grey;
    border: 1px solid grey;
    border-radius: 5px;


}
form label{
    color: gray;
}
#country{
    height: 30px;
    width: 100%;
border: 1px solid gray;
border-radius: 5px;

}
#postCode{
    width: 120%;
}
.country-postcode{
    border: 1px solid red;
    display: flex;
    flex-direction: row;

}
.country, .postcode{
    gap: 1rem;
padding-right: 1rem;
display: flex;
flex-direction: column;
}
